.venv/
__pycache__/
*.pyc
.env
logs/
data/*.mp4
models/*.onnx
models/*.rknn
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
models/*.pt
models/*.pth
data/*.avi
data/retinaface_test.jpg
data/privacy_test*.jpg
logs/*.jsonl
models/*.engine
models/*.weights
models/*.bin
models/*.data
models/*.param
models/*.params
models/*.xml
models/*.caffemodel
models/*.prototxt
